.content-block {
  margin-top: 15px;
}

// Table

table {
  width: 100%;
  text-align: center;

  thead {
    font-weight: bold;
    background: rgb(245,245,245);
  }

  td {
    padding: 10px;
    border: 1px solid #ddd;
    border-collapse: collapse;

    &:last-child {
      min-width: 90px;
    }
  }

  tbody tr:last-child td {
    border: none;
  }

  tbody tr:last-child td.td-bordered {
    border: 1px solid #ddd;
  }
}

// Buttons

.btn-img {
  width: 28px;
  height: 28px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50%;
}

.btn-edit {
  margin-right: 5px;
  background-image: url(../shared/img/edit.png);
}

.btn-delete {
  background-image: url(../shared/img/delete.png);
}

.btn-ok {
  margin-right: 5px;
  background-image: url(../shared/img/ok.png);
}

.btn-cancel {
  background-image: url(../shared/img/cancel.png);
}

.btn-addproduct {
  padding-top: 8px;
  padding-left: 28px;
  background-image: url(../shared/img/add.png);
  background-position: 6px 50%;
  background-repeat: no-repeat;
}

.btn-table-nav {
  width: 32px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: 50%;
  vertical-align: bottom;
}

.btn-prev-tablepage {
  margin-left: 5px;
  background-image: url(../shared/img/arrow-left.png);
}

.btn-next-tablepage {
  margin-right: 5px;
  background-image: url(../shared/img/arrow-right.png);
}

.btn-prev-page {
  padding-top: 8px;
  padding-left: 28px;
  background-image: url(../shared/img/prev-page.png);
  background-position: 6px 45%;
  background-repeat: no-repeat;
}

.btn-checkout {
  position: relative;
  padding-top: 8px;
  padding-left: 28px;
  background-image: url(../shared/img/shopping-cart.png);
  background-position: 6px 50%;
  background-repeat: no-repeat;
  font-size: 17px;
  outline: 0;

  &::after {
    display: block;
    position: absolute;
    content: 'not working';
    top: calc(100% + 3px);
    color: rgb(180,180,180);
    font-size: .8em;
    width: 100%;
    text-align: center;
    left: 0;
    outline: 0;
  }
}

// Controls (inputs, etc)

.amount-change {
  width: 50px;
  text-align: center;
}

.input-current-page {
  width: 50px;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
}

// Pagination

.table-pagination {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background: #fdfdfd;
  border-radius: 4px;
}

// Totals

.sum-total > span {
  display: inline-block;
  padding: 10px 18px;
  font-size: 17px;
  background: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.sum-total .sum {
  color: #1f5e94;
}

.checkout {
  text-align: right;
}
