.form .form-group {
  margin: 10px 0;
}

.control-label {
  padding-top: 7px;
  text-align: right;
}

.order-data .alert {
  margin-top: 10px !important;
  margin-bottom: 0 !important;
  font-size: .9em !important;
}

.btn-next-page {
  padding-top: 8px;
  padding-right: 28px;
  background-image: url(../shared/img/next-page.png);
  background-position: calc(100% - 6px) 45%;
  background-repeat: no-repeat;
}

.btn-next-page:active {
  background-image: url(../shared/img/next-page.png);
}

.asterisk {
  color: red;
}

.go-next {
  margin-top: 15px;
  text-align: right;
}
